@model List<Application.Dto.PostDtos.IndexPostDto>

@{
    ViewData["Title"] = "GetMyPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5">
    <h2>My post</h2>
    <a href="@Url.Action("Create", "ContributorPost")" class="btn btn-primary btn-sm">Create post</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Published</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var post in Model)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.Title</td>
                        <td>@post.Summary</td>
                        <td>
                            <span  class="btn btn-sm @(post.IsPublished ? "btn-success" : "btn-danger")">
                                @(post.IsPublished ? "Publish" : "Unpublish")
                            </span>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "ContributorPost", new { id = post.Id })" class="btn btn-primary btn-sm">Edit</a>
                            <form action="@Url.Action("Delete", "ContributorPost",new { id = post.Id })" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

