@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Application.Dto.PostDtos.DetailPostDto


<article class="mb-4">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				@if (Model != null) 
				{
					<h2>@Model.Title</h2>
					<p class="post-meta">
						Posted @Model.CreatedDate.ToString("MM/dd/yyyy h:mm:ss tt")
						<p>@Model.Summary</p>
					</p>
					<p>
						@Model.Content
					</p>
					foreach(var comment in Model.Comments) {
						<div class="commented-section mt-2">
							<div class="d-flex flex-row align-items-center commented-user">
								<h5 class="mr-2">@comment.UserName</h5>
								<span class="dot mb-1"></span>
								<span class="mb-1 ml-2">@comment.UpdatedTime.ToString("MM/dd/yyyy h:mm:ss tt")</span>
							</div>
							<div class="comment-text-sm">
								<span>
									@comment.Content
								</span>
							</div>
						</div>
					}
				} else 
				{
					<h3>ERROR</h3>
				}
				

			</div>
		</div>
	</div>
</article>

